.morado{
    height: 25px;
    background-color: #6600ff;}

.naranja{
    height: 25px;
    background-color: #ff8000;}


.amarillo{
    height: 25px;
    background-color: #a89a34;
}

.row{

    background-color: #0c63e4;
}