.rojo{
    height: 52px;
    background-color: #ff0000;}

.verde{
    height: 25px;
    background-color: #22ff00;}

.amarillo{
    height: 25px;
    background-color: #bdac11;}

.azul{
    height: 25px;
    background-color: #153179;}